# Creating LAMOST dataset from SDSS DR15 Query

    --> http://dr6.lamost.org/v2/sql/s

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import confusion_matrix
import warnings
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
import timeit
import os
warnings.filterwarnings("ignore")

In [10]:
sdss = pd.read_csv('input/combine/SDSS_final.csv')
lamost = pd.read_csv('input/combine/LAMOST_final.csv')
sdss = sdss.sample(frac=1)
lamost = lamost.sample(frac=1)

In [14]:
sdss.columns

Index(['objid', 'ra', 'dec', 'u', 'g', 'r', 'i', 'z', 'run', 'rerun', 'camcol',
       'field', 'specobjid', 'class', 'redshift', 'plate', 'mjd', 'fiberid'],
      dtype='object')

In [15]:
lamost.columns

Index(['obsid', 'ra', 'dec', 'redshift', 'class', 'mag1', 'mag2', 'mag3',
       'mag4', 'mag5'],
      dtype='object')

In [11]:
sdss = sdss.head(15000)
lamost = lamost.head(15000)

In [12]:
dataframes = [sdss,lamost]
df = pd.concat(dataframes)

In [22]:
all_filenames = ['Test/LAMOST/QSO.csv','Test/LAMOST/GALAXY.csv','Test/LAMOST/STAR.csv']
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "LAMOST_combined.csv", index=False, encoding='utf-8-sig')

In [23]:
df = pd.read_csv('LAMOST_combined.csv')

In [24]:
df = df.sample(frac = 1)
df

,obsid,ra,dec,z,class,mag1,mag2,mag3,mag4,mag5
22829,210198,43.088799,-1.577594,-0.000038,STAR,19.75,17.54,16.62,16.27,16.06
1906,77205092,15.311154,6.095669,1.904260,QSO,20.55,99.00,99.00,99.00,99.00
10140,106084,334.003910,-0.001640,0.123472,GALAXY,19.74,18.54,17.74,17.36,17.15
11278,8204141,12.417300,2.166760,0.109395,GALAXY,19.76,18.54,17.85,17.48,17.17
17759,43111178,208.960390,4.183370,0.174657,GALAXY,19.31,18.25,17.51,17.12,16.90
...,...,...,...,...,...,...,...,...,...,...
24499,402223,9.608655,38.746201,-0.000304,STAR,99.00,18.61,17.19,16.40,99.00
1634,67702208,323.729502,0.182460,3.288760,QSO,24.63,19.15,18.82,18.74,18.68
11419,8209182,13.833480,3.312840,0.082647,GALAXY,19.65,18.49,17.88,17.49,17.23
14714,21202172,121.822210,1.429060,0.094170,GALAXY,19.18,18.06,17.53,17.20,17.01
5380,134015009,153.834900,26.520243,2.026910,QSO,19.93,19.57,19.64,19.51,19.36

In [25]:
df.to_csv('input/LAMOST_final.csv')

In [26]:
os.remove("LAMOST_combined.csv")